extends layout

block content
        .panel.panel-default
            .panel-heading Device Properties
            .panel-body   

                form(id='formtwin', action='/twin', method='post')
                    fieldset
                        .form-group.row
                            .col-sm-4
                                label FW Version
                                .input-group
                                    input.form-control(name="fw_version", type='text', placeholder=fw_version)
                                    span.input-group-btn
                                        button.btn.btn-primary(name="action", type='submit', form='formtwin', value='fw_version') update
                            .col-sm-4
                                label zip code
                                .input-group
                                    input.form-control(name='location', type='text', placeholder=location)
                                    span.input-group-btn
                                        button.btn.btn-primary(name="action", type='submit', form='formtwin', value='location') update
                            .col-sm-4
                                label connectivity type
                                .input-group
                                    select#form.form-control(name = "connType")
                                        option(value='') connectivity type
                                        option(value='cellular') cellular
                                        option(value='wifi') wifi
                                        option(value='fixed') fixed 
                                   
                                    span.input-group-btn
                                        button.btn.btn-primary(name="action", type='submit', form='formtwin', value='connType') update

      