extends layout

block content
    .jumbotron

      h3 this simulator has two parts
      p in the device tab you can register a device with iot hub and activate and deactivate the device
      p in the appliances tab you can toggle on and off difference appliances that will create variances in the power consumption reported by the device
      



      
 