extends layout

block content
    .jumbotron
        form(action='/twin', method='post', id='formtwin')
          fieldset
            .form-group.row
              .col-sm-4
                input.form-control(type='text', name='devID', placeholder=deviceId) 
              .col-sm-4
                input.form-control(type='text', name='zipcode', placeholder='enter zipcode') 
              .col-sm-4
                    select#form.form-control(name = "connType")
                      option(value='cellular') cellular
                      option(value='wifi') wifi
                      option(value='fixed') fixed
        button.btn.btn-space.btn-default(type='submit', name="action", form='formtwin', value='listen') start listener
        br
        button.btn.btn-space.btn-default(type='submit', name="action", form='formtwin', value='location') report location
        button.btn.btn-space.btn-default(type='submit', name="action", form='formtwin', value='connType') report connectivity type





    p #{msg}        
      